.container {
    max-width: 1140px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    .row {
        flex-wrap: wrap;
    }

    .row > .col {
        width: 100%;
        margin-bottom: 3rem;
    }

    .steps,
    .why-us,
    .row .col:last-child {
        margin-bottom: 0;
    }

    .why-us {
        background-color: #222;
        padding: 3rem 0;
    }
}